<div class="select-wrapper">
  <div class="label" *ngIf="selectLabel">{{selectLabel}}</div>
  <div class="select-container">
    <button type="button" class="select-button"
            (click)="expanded = true"
            [ngClass]="{'expanded': expanded}">
      <span class="select-content"
            *ngIf="selectedOption; else placeholderText">
        {{selectedOption?.label ? selectedOption?.label : selectedOption?.value}}
      </span>
      <ng-template #placeholderText>
        <span class="select-content">{{placeholder}}</span>
      </ng-template>
      <mat-icon class="arrow mat-18">arrow_drop_down</mat-icon>
    </button>
    <div class="select-content-wrapper"
         *ngIf="options.length > 0"
         [ngClass]="{'expanded': expanded}">
      <a class="select-content option"
         *ngFor="let item of options"
         (click)="changeSelected(item)">
        <mat-icon class="icon"
             *ngIf="item.icon"
        >
          {{item.icon}}
        </mat-icon>
        <span>
          {{item.label ? item.label : item.value}}
        </span>
      </a>
    </div>
  </div>
</div>
